<nav class="navbar navbar-default navbar-expand-lg navbar-dark bg-dark py-0">
  <a class="navbar-brand" href="#">Ordem de Serviço</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Cadastro
        </a>
        <div class="dropdown-menu bg-light">
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLink]="['Categoria']" skipLocationChange>
            <i class="fa fa-folder-open-o mr-1"></i> Categorias
          </a>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLink]="['Servico']" skipLocationChange>
            <i class="fa fa-wrench mr-1"></i>Serviços
          </a>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLink]="['Produto']" skipLocationChange>
            <i class="fa fa-list mr-1" aria-hidden="true"></i>Produtos
          </a>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLink]="['TabelaPreco']" skipLocationChange>
            <i class="fa fa-usd mr-1" aria-hidden="true"></i>Tabelas de Preço
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
