<div [@slideToRight]>

  <div class="row justify-content-md-center">

    <div class="col-sm-12 col-xs-12 col-md-12">
      <button class="btn btn-success btn-md border rounded-circle" (click)="prepararNovaCategoria()" title="Nova categoria">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>

      <form #novaCategoriaForm="ngForm" class="form-inline">
        <div class="input-group pb-2" *ngIf="novaCategoria">
          <input type="text" class="form-control form-control-sm mr-2" [(ngModel)]="novaCategoria.descricao" name="descricao" placeholder="Descrição">
          <span class="input-group-btn">
            <button class="btn btn-success mr-2" (click)="salvar(novaCategoria)">
              <i class="fa fa-floppy-o mr-2" aria-hidden="true"></i>Salvar
            </button>
            <button type="button" class="btn btn-outline-secondary"  (click)="novaCategoria = null">
              <i class="fa fa-ban mr-2" aria-hidden="true"></i>Fechar
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-xs-12 col-md-12">
      <form #categoriaForm="ngForm">
        <ul class="list-group">
          <li class="list-group-item list-group-item-primary font-weight-bold">
            <i class="fa fa-folder-open-o mr-1"></i>Categorias
          </li>
          <li [@pagination]="paging.navDirection" class="list-group-item list-group-item-light" *ngFor="let cat of categorias | slice: (paging.page-1) * paging.pageSize : (paging.page-1) * paging.pageSize + paging.pageSize">
            <div *ngIf="cat._id !== idCategoriaEdicao">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-outline-danger mr-2" title="Excluir" (click)="excluirCategoria(cat)" *ngIf="!substituir || idCategoriaExclusao !== cat._id">
                    <i class="fa fa-times"></i>
                  </button>
                  <button class="btn btn-outline-danger mr-2" title="Excluir" (click)="excluirComSubstituto(cat)" *ngIf="substituir && idCategoriaExclusao === cat._id" [disabled]="!idCategoriaSubstituta">
                    <i class="fa fa-times"></i>
                  </button>
                  <button class="btn btn-outline-info mr-2" title="Editar" (click)="idCategoriaEdicao = cat._id">
                    <i class="fa fa-pencil"></i>
                  </button>
                </span>
                <span class="align-middle pl-2" *ngIf="!substituir || idCategoriaExclusao !== cat._id">{{cat.descricao}}</span>

                <select class="form-control form-control-sm editing" name="idCategoriaSubstituta" [(ngModel)]="idCategoriaSubstituta" *ngIf="substituir && idCategoriaExclusao === cat._id" aria-placeholder="[Selecione...]">
                  <option *ngFor="let cSub of categorias" [disabled]="cSub._id === cat._id" [ngValue]="cSub._id">{{cSub.descricao}}</option>
                </select>
              </div>

            </div>
            <div *ngIf="cat._id === idCategoriaEdicao" class="input-group">
              <span class="input-group-btn pr-2">
                <button class="btn btn-outline-primary" title="Salvar" (click)="salvar(cat)">
                  <i class="fa fa-floppy-o"></i>
                </button>
              </span>

              <input name="descricao" [(ngModel)]="cat.descricao" class="form-control form-control-sm editing" #descricao="ngModel" (keyup.enter)="salvar(cat)">
            </div>
          </li>
        </ul>
      </form>
    </div>
  </div>

  <div class="row justify-content-md-center pt-2">
    <div class="col-auto">
      <ngb-pagination
        [(page)]="paging.page"
        [pageSize]="paging.pageSize"
        [collectionSize]="categorias.length"
        (pageChange)="pageChange($event)"></ngb-pagination>
    </div>
    <div class="col-auto">
      <select class="custom-select" style="width: auto" [(ngModel)]="paging.pageSize" [ngModelOptions]="{standalone: true}">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
      </select>
    </div>
  </div>
</div>
