<div [@slideToRight]>
  <div class="row">

    <div class="col-sm-12 col-xs-12 col-md-12">
      <div class="row">

        <div class="col-sm-12 col-xs-12 col-md-12 pb-2">
          <button class="btn btn-success btn-md border rounded-circle" (click)="prepararNovaTabelaPreco()" title="Novo">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
        <span #referenciaTelaTabelaPreco></span>
      </div>
    </div>

    <div class="col-sm-12 col-xs-12 col-md-12" *ngIf="tabelaPreco" [@slideToRight]>

      <div class="card border-success">
        <div class="card-header text-success">
          <h6><i class="fa fa-usd pr-1"></i>{{tabelaPreco._id ? 'Editar' : 'Nova'}} Tabela de Preço</h6>
        </div>
        <div class="card-body">
          <form>

            <div class="row">

              <div class="col-sm-4 col-xs-4 col-md-4">
                <div class="form-group">
                  <label>Tabela</label>
                  <input type="text" name="nome" class="form-control form-control-sm" placeholder="nome" [(ngModel)]="tabelaPreco.nome">
                </div>
              </div>
              <div class="col-sm-4 col-xs-4 col-md-4">
                <div class="form-group">
                  <i class="fa fa-folder-open-o pr-1"></i><label>Categoria</label>
                  <select name="categoria" class="form-control form-control-sm" (change)="pesquisarServicosNovaTabela($event.target.value); tabelaPreco.itens" #selectCategoria>
                    <option value >[Selecione...]</option>
                    <option *ngFor="let c of categorias" [value]="c._id">{{c.descricao}}</option>
                  </select>
								</div>
							</div>
							<div class="col-sm-4 col-xs-4 col-md-4">
								<div class="form-group">
									<i class="fa fa-wrench pr-1"></i><label>Serviço</label> <i *ngIf="carregandoServicos" class="fa fa-cog fa-spin"></i>
									<select name="servico" class="form-control form-control-sm" [(ngModel)]="tabelaPreco.servico" [compareWith]="compareEntities">
										<option [ngValue]="null">[Selecione...]</option>
										<option *ngFor="let s of servicos" [(ngValue)]="s">{{s.descricao}}</option>
									</select>
								</div>
							</div>

              <div class="col-sm-12 col-xs-12 col-md-12" *ngIf="selectCategoria.value">
                <div class="card">
                  <div class="card-header p-1">
                    <div class="row">
                      <div class="col-sm-auto col-xs-auto col-md-auto form-inline">
                        <div class="form-group">
                          <h6 class="pr-2"><i class="fa fa-list pr-1"></i>Produtos</h6>

                          <div *ngIf="produtos && produtos.length > 0">
                            <select name="produto" class="form-control form-control-sm pr-2" #produto>
                              <option value>[Selecione...]</option>
                              <option *ngFor="let p of produtos; let i = index" [value]="i">{{p.descricao}}</option>
                            </select>

                            <button *ngIf="produtos" class="btn btn-sm btn-outline-info ml-2" (click)="adicionarItem(produto.value)"> <i class="fa fa-plus-square-o" aria-hidden="true"></i> Adicionar Item </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body" *ngIf="produtos && servicos">
                    <div *ngFor="let item of tabelaPreco.itens; let i = index" [@slideToLeft]>
                      <div class="row border-bottom border-thick rounded mb-1">

                        <div class="col-sm-auto col-xs-auto col-md-auto">
                          <button class="btn btn-danger btn-sm" (click)="removerItem(i)">
                              #{{i+1}}&nbsp;<i class="fa fa-minus-circle" aria-hidden="true"></i>
                          </button>
                        </div>
                        <div class="col-sm-4 col-xs-4 col-md-4">
                          <h4><div class="badge badge-info w-100"><i class="fa fa-list pr-1"> {{item.produto.descricao}} </i></div></h4>
                        </div>
                        <div class="col-sm-auto col-xs-auto col-md-auto pb-1">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text rounded-left py-0">Material R$</div>
                            </div>
                            <input type="text" currencyMask  name="precoProduto_{{i}}" class="form-control form-control-sm" placeholder="Preço Material" [(ngModel)]="item.precoProduto">
                          </div>
                        </div>
                        <div class="col-sm-auto col-xs-auto col-md-auto pb-1">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <div class="input-group-text rounded-left py-0">Mão de Obra R$</div>
                            </div>
                            <input type="text" currencyMask  name="precoServico_{{i}}" class="form-control form-control-sm" placeholder="Preço Mão de obra" [(ngModel)]="item.precoServico">
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-xs-12 col-md-12 pt-2">
                <div class="form-group">
                  <button class="btn btn-success mr-2" (click)="salvar(tabelaPreco)">
                    <i class="fa fa-floppy-o mr-2" aria-hidden="true"></i>Salvar
                  </button>
                  <button type="button" class="btn btn-outline-secondary" (click)="tabelaPreco = null">
                    <i class="fa fa-ban mr-2" aria-hidden="true"></i>Fechar
                  </button>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-xs-12 col-md-12 pb-2">
      <div class="card">
        <div class="card-header p-1">
          <h6 class="float-left m-2"><i class="fa fa-search pr-2" aria-hidden="true"></i>Pesquisa de Tabelas de Preço</h6>
          <button class="btn float-right" type="button" data-toggle="collapse" data-target="#pesquisaCollapse" aria-expanded="false" aria-controls="pesquisaCollapse">
            <i class="fa fa-expand" aria-hidden="true"></i>
          </button>
        </div>
        <div class="card-body collapse" id="pesquisaCollapse">
          <form #pesquisaForm="ngForm">
            <div class="row">
              <div class="col-sm-4 col-xs-4 col-md-4">
                <div class="form-group">
                  <label class="control-label">Nome</label>
                  <input type="text" name="nome" class="form-control form-control-sm" [(ngModel)]="filtroPesquisa.nome">
                </div>
              </div>
              <div class="col-sm-4 col-xs-4 col-md-4">
                <div class="form-group">
                  <label class="control-label"> <i class="fa fa-folder-open-o pr-1"></i> Categoria</label>
                  <select name="categoria" class="form-control form-control-sm" #categoria="ngModel" [(ngModel)]="filtroPesquisa.idCategoria" (change)="pesquisarServicosBusca()">
                    <option [ngValue]="null">[Todas]</option>
                    <option *ngFor="let c of categoriasPesquisa" [ngValue]="c._id">{{c.descricao}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4 col-xs-4 col-md-4">
                <div class="form-group">
                  <label class="control-label text-left"> <i class="fa fa-wrench pr-1"></i> Serviço</label>
                  <select name="servico" class="form-control form-control-sm" #servico="ngModel" [(ngModel)]="filtroPesquisa.idServico">
                    <option [ngValue]="null">[Todos]</option>
                    <option *ngFor="let s of servicosPesquisa" [ngValue]="s._id">{{s.descricao}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4 col-xs-4 col-md-4">
                <div class="form-group">
                  <label class="control-label text-left"> <i class="fa fa-list pr-1"></i> Produto</label>
                  <select name="produto" class="form-control form-control-sm" #produto="ngModel" [(ngModel)]="filtroPesquisa.idProduto">
                    <option [ngValue]="null">[Todos]</option>
                    <option *ngFor="let p of produtosPesquisa" [ngValue]="p._id">{{p.descricao}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4 col-xs-4 col-md-4 align-self-center">
                <div class="btn-group btn-group-toggle">
                  <label class="btn btn{{filtroPesquisa.ativo === 'true' ? '-' : '-outline-'}}success">
                    <input type="radio" name="ativo" id="pesquisaAtivoTrue" value="true" [(ngModel)]="filtroPesquisa.ativo"> Ativo
                  </label>
                  <label class="btn btn{{filtroPesquisa.ativo === 'false' ? '-' : '-outline-'}}danger">
                    <input type="radio" name="ativo" id="pesquisaAtivoFalse" value="false" [(ngModel)]="filtroPesquisa.ativo"> Inativo
                  </label>
                  <label class="btn btn{{filtroPesquisa.ativo === null ? '-' : '-outline-'}}primary">
                    <input type="radio" name="ativo" id="pesquisaAtivoFalse" [value]=null [(ngModel)]="filtroPesquisa.ativo"> Ambos
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-xs-12 col-md-12 align-self-center">
                <button class="btn btn-light" (click)="pesquisar()"><i class="fa fa-search" aria-hidden="true"></i>Buscar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-xs-12 col-md-12 pb-2" *ngIf="tabelasPreco" [@slideToLeft]>
      <div class="card mb-2" *ngFor="let tp of tabelasPreco">
        <div class="card-header tabelapreco-bg-primary {{tp.ativo ? 'text-success' : 'text-danger'}}">
          <h6>
            <i class="fa fa-usd mr-2" aria-hidden="true"></i>{{tp.nome}}
          </h6>
          <h5>
            <span class="badge badge-secondary">
              <i class="fa fa-folder-open-o pr-1"></i>{{tp.servico.categoria.descricao}}
            </span>
            <span class="ml-1 badge badge-primary">
              <i class="fa fa-wrench pr-1"></i>{{tp.servico.descricao}}
            </span>
          </h5>
          <h5 class="text-dark" *ngIf="tabelaPreco && tp._id === tabelaPreco._id">
            <i class="fa fa-cog fa-spin"></i> Editando...
          </h5>
        </div>
        <div class="card-body {{tabelaPreco && tp._id === tabelaPreco._id ? 'd-none' : ''}}">
					<div class="row">
            <div class="col-sm-auto col-xs-auto col-md-auto">
              <button class="btn btn-outline-info float-left mr-1 mb-1" title="Editar" (click)="editarTabela(tp)">
                <i class="fa fa-pencil"></i>
              </button>
            </div>
            <div class="col-sm-auto col-xs-auto col-md-auto align-self-end">
              <h5>
                <button class="btn btn-outline-secondary" data-toggle="collapse" [attr.data-target]="'#itens_tp_' + tp._id" aria-expanded="false" [attr.aria-controls]="'itens_tp_' + tp._id">
                  <i class="fa fa-list pr-1"></i> Itens
                  <span class="badge badge-secondary">
                    {{tp.itens.length}}
                  </span>
                </button>
              </h5>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12 align-self-center">
              <div class="collapse border border-secondary rounded text-dark" id="itens_tp_{{tp._id}}">
                <div class="row pl-2" *ngFor="let item of tp.itens">
                  <div class="col-sm-6 col-xs-6 col-md-6 align-self-center">
                    <h5>
                      <div class="badge w-100 badge-secondary">
                        <i class="fa fa-list pr-1"></i>{{item.produto.descricao}}
                      </div>
                    </h5>
                  </div>
                  <div class="col-sm-auto col-xs-auto col-md-auto align-self-center">
                    <dl>
                      <dt>Material</dt>
                      <dd class="font-weight-bold text-success">
                          R$ {{item.precoProduto | number:'1.2-2':'pt'}}
                      </dd>
                    </dl>
                  </div>
                  <div class="col-sm-auto col-xs-auto col-md-auto align-self-center">
                    <dl>
                      <dt>Mão de Obra</dt>
                      <dd class="font-weight-bold text-success">
                          R$ {{item.precoServico | number:'1.2-2':'pt'}}
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
					</div>
        </div>
    </div>
  </div>
</div>
